/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #4e698b;

/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

/// fontSize|1|Font Size|0
$--font-size-extra-large: 26px !default;
/// fontSize|1|Font Size|0
$--font-size-large: 24px !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 22px !default;
/// fontSize|1|Font Size|0
$--font-size-base: 20px !default;
/// fontSize|1|Font Size|0
$--font-size-small: 19px !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 18px !default;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-primary: 24px !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 16px !default;

@import "~element-plus/packages/theme-chalk/src/index";

.el-table {
  font-size: $--font-size-base;
}

.el-checkbox {
  overflow: hidden;
}

.hg-button {
  @extend .el-button;
  margin: 0.2em;
  flex: 1;
}

.hg-row {
  display: flex;
  justify-content: stretch;
}
